
# Creado por https://www.gitignore.io/api/c++,visualstudiocode
# Editar en https://www.gitignore.io/?templates=c++,visualstudiocode

### C ++ ###
# Prerrequisitos
*.re

# Archivos de objetos compilados
* .slo
* .lo
* .o
* .obj

# Encabezados precompilados
* .gch
* .pch

# Bibliotecas dinámicas compiladas
*.entonces
* .dylib
* .dll

# Fortran archivos de módulo
*.modificación
* .smod

# Bibliotecas estáticas compiladas
* .lai
*.la
*.una
* .lib

# Ejecutables
*.exe
*.afuera
* .app

### VisualStudioCode ###
.vscode / *
! .vscode / settings.json
! .vscode / task.json
! .vscode / launch.json
! .vscode / extensiones.json

### VisualStudioCode Patch ###
# Ignorar todo el historial local de archivos
.historia

# Fin de https://www.gitignore.io/api/c++,visualstudiocode